body{
 font-family: 'Josefin Sans', sans-serif;
 background-color: #292F36;
 color: #FCFFF7;
 height: 100vh;
 margin: 0;
 padding: 0;
}

.page-wrap{
  width: 400px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  text-align: center;
}

.typebox{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  position: absolute;
  height: 300px;
  width: 500px;
  background-color: #475360;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #FFE66D;
}

#prompt{
  display: block;
  width: 100%;
  height: 30px;
  background-color: #FFF;
  color: #292F36;
  text-align: center;
  padding: 5px;
  font-size: 1.4rem;
}

textarea{
  width: 100%;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 5px;
  padding: 5px;
  color: #292F36;
  font-size: .8rem;
}

button{
  color: #FCFFF7;
  letter-spacing: 0.4rem;
  width: 100%;
  height: 35px;
  background-color: #FF6B6B;
  outline: none;
  border: none;
  box-shadow: 0 6px #E04545;
}
button:hover{
  outline: none;
  border: none;
  box-shadow: 0 6px #2AAFA7;
  background-color: #4ECDC4;
}