@import 'partials/reset';
@import 'partials/clearfix';

body{
 font-family: 'Josefin Sans', sans-serif;
 background-color: #292F36;
 font-size: 1.2rem;
 color: #FCFFF7;
}
h2{
  font-size: 1.4rem;
}
.page-wrap{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.time-box{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 35px;
  padding: 10px;
  background-color: #475360;
  border-radius: 10px;
  border: solid 2px #FFE66D;
}
.typebox{
  height: 300px;
  width: 500px;
  background-color: #475360;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #FFE66D;
  h2{
    text-transform: uppercase;
    letter-spacing: .3rem;
    text-align: center;
    padding: 10px;
  }
}

#sentence{
  padding: 5px;
  width: 100%;
  height: 30px;
}

#prompt{
  display: block;
  width: 100%;
  height: 30px;
  background-color: #FFF;
  color: #292F36;
  text-align: center;
  padding: 5px;
  font-size: 1.4rem;
}

textarea{
  width: 100%;
  height: 50px;
  border-radius: 4px;
  outline: none;
  border: none;
  margin: 5px;
  padding: 5px;
  color: #292F36;
  font-size: .8rem;
}

button{
  color: #FCFFF7;
  font-size: 1.1rem;
  letter-spacing: 0.4rem;
  width: 100%;
  height: 35px;
  background-color: #FF6B6B;
  outline: none;
  border: none;
  box-shadow: 0 6px #E04545;
  margin-top: 15px;
}
button:hover{
  outline: none;
  border: none;
  animation: blinking 3s;
}

@keyframes blinking {
  from {
    box-shadow: 0 6px #2AAFA7;
    background-color: #4ECDC4;
  }
  50% {
    box-shadow: 0 6px #E04545;
    background-color: #FF6B6B;
  }
  75% {
    box-shadow: 0 6px #2AAFA7;
    background-color: #4ECDC4;
  }
  to {
    box-shadow: 0 6px #E04545;
    background-color: #FF6B6B;    
  }
}